/* General styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

h1 {
    margin-bottom: 20px;
}

/* Tab styles */
.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.tablinks {
    background-color: #f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tablinks:hover {
    background-color: #ddd;
}

.tablinks.active {
    background-color: #ccc;
}

/* Tab content */
.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
}

.result {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
